@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("src/lib/assets/SF-Pro-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("src/lib/assets/SF-Pro-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SF-Pro";
  font-display: swap;
  font-style: medium;
  font-weight: 500;
  src: url("src/lib/assets/SF-Pro-Medium.woff2") format("woff2");
}

@layer base {
  body {
    font-family:
      "SF-Pro",
      system-ui,
      -apple-system,
      sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
